{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body %}
<div class="juimbotron" style="display: grid; place-items:center;">
    <br>
    <h4>Who we Are?</h4>
    <p class="w-50">Laptop Store, the world class Desktop Laptop Printer sales and service center, fully equipped with Hi-tech debugging tools and a huge team of highly qualified and trained engineers.
<br><br>
        Laptop store is a one stop shop for all your pc hardware and software servicing needs. We have dedicated team for servicing branded Laptops, Notebooks and Personal Computers. Laptop store is a wide network and has branches all Metro cities in India. In Chennai and Bangalore we do Acer warranty support</p>
    <br>
    <h4>About us</h4>
    <p class="w-50">Itel Computer was established in April 2007 at Porur, Chennai. Laptop Store was formed by Mr. Rajkumar Jayavel who has been associated with the computer industry since 2001 & is actively engaged in the sales & service sectors of IT.
<br>
        Later in 2010, the company name changed to “Laptop Store” with added sales division at Adyar, Chennai.
        <br>
        Laptop Store, the world class laptop sales and service center, fully equipped with Hi-tech debugging tools and a huge team of highly qualified and trained engineers.
        <br>
        Now Laptop Store is a well-known service provider and dealer in Chennai, Bangalore, Hyderabad, Mumbai and Pune that provides laptop sales, services and AMC of all major brands in 18 branches.</p>
    <br>
    <h4>Our Vision</h4>
    <p class="w-50">By working with passion and focus on Quality and Efficiency to create competitive advantages for our customers, and while doing so always live up to our company values</p>
    <br>
    <br>
</div>
{% endblock body %}